<!-- user info -->
<div class="row">
	<div class="media">
		<a class="pull-right" href=<%= image_tag @user.avatar.url(:medium) %>>
			<img class="media-object" src="" alt="">
		</a>
	<div class="media-body">
		<h4 class="media-heading"><%= @user.email %></h4>
			<br>
			<strong>current_sign_in up :</strong>
				<%= @user.current_sign_in_ip%>
			</p>

			<strong>created_at :</strong>
				<%= @user.created_at %>
			</p>
		</div>

</div> 
<br><%= image_tag @user.avatar.url(:medium) %><br>
<!-- emblem -->
<div class="row">
	여기다가 칭호 만들어 넣을 생각인데
</div>

<!-- notification -->
<br><br>
<div class="row">
	여기다가 노티피케이션 만들어 넣을 생각인데
</div>