<%= form_for [@problem, @submission], html: {class: "form-horizontal well"} do |f| %>
  <div class="form-group hide">
    <%= f.label :problem_id, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :problem_id, class: "form-control" %>      
    </div>
  </div>
  <div class="form-group">
    <%= f.label :code, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :code, class: "form-control" %>      
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "제출", class: "btn btn-default" %>
    </div>
  </div>
<% end %>