<table class="table">
  <thead>
    <th>문제 번호</th>
    <th>유저 이름</th>
    <th>상태</th>
    <th>제출 시간</th>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
        <tr>
          <td> <%= link_to submission.problem.id, submission.problem %> </td>
          <td> <%= link_to submission.user.email, submission.user %> </td>
          <td> <%= status_color(submission.status) %> </td>
          <td> <%= submission.created_at %> </td>
        </tr>
      <% end %>
  </tbody>

</table>

<ul class="pagination">
  <li><a href="/status">&laquo;</a></li>
  <% num = @submissions.total_pages %>
  <% (1..num).each do |i| %>
    <li><a href="/status/<%= i %>"><%= i %></a></li>
  <% end %>
  <li><a href="/status/<%= num %>">&raquo;</a></li>
</ul>
