<!DOCTYPE html>
<html>
<head>
  <title>Judge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">처음으로</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="<%= problems_path %>">문제</a></li>
      <li><a href="<%= submissions_path %>">상태</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if user_signed_in? %>
          <a href="<%= destroy_user_session_path %>" data-method="delete"> 로그아웃 </a> </li>
        <% else %>
          <a href="<%= new_user_session_path %>"> 로그인 </a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

<%= yield %>

</div>

</body>
</html>
